/* You can add global styles to this file, and also import other style files */

td {
    width: 50px;
    height: 50px;
    overflow: auto;
}

div.pieceType1 {
    content:url(/assets/pieces/rook.png);
}

div.pieceType2 {
    content:url(/assets/pieces/queen.jpg);
}